body{

margin:0;

font-family:Arial, sans-serif;

color:#333;

line-height:1.6;

}


header{

background:#1b5e20;

color:white;

padding:20px 8%;

display:flex;

justify-content:space-between;

align-items:center;

}


.logo{

font-size:25px;

font-weight:bold;

}


nav a{

color:white;

text-decoration:none;

margin:15px;

}



.hero{

height:650px;

background:

linear-gradient(
rgba(0,0,0,.45),
rgba(0,0,0,.45)
),

url("images/hero.jpg");


background-size:cover;

background-position:center;

display:flex;

align-items:center;

}



.hero-text{

color:white;

padding:8%;

max-width:700px;

}


h1{

font-size:50px;

}


h2{

text-align:center;

color:#1b5e20;

font-size:35px;

}



section{

padding:60px 8%;

}



.cards{

display:flex;

gap:25px;

justify-content:center;

flex-wrap:wrap;

}


.card{

width:280px;

padding:25px;

box-shadow:0 5px 20px #ccc;

border-radius:10px;

}



.button{

background:#2e7d32;

color:white;

padding:15px 30px;

text-decoration:none;

border-radius:5px;

display:inline-block;

}


.green-section{

background:#1b5e20;

color:white;

text-align:center;

}


.green-section h2{

color:white;

}


.center{

text-align:center;

}


form{

max-width:500px;

margin:auto;

display:flex;

flex-direction:column;

gap:15px;

}


input,textarea{

padding:15px;

}


textarea{

height:120px;

}



footer{

background:#1b5e20;

color:white;

text-align:center;

padding:25px;

}
